hostname {{hostname}}
{% for vlan in vlans%}
vlan {{vlan.vlan_id}}
exit
{% endfor %}
{% for interface in interfaces %}
interface {{interface.name}}
{% if interface.mode == "access"%}
switchport mode {{interface.mode}}
switchport {{interface.mode}} vlan {{interface.vlan_id}}
{%endif%}
{% if interface.mode == "trunk"%}
switchport mode {{interface.mode}}
switchport {{interface.mode}} allowed vlan all
{%endif%}
no shut
exit
{% endfor %}